# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Vector DB / Databases / Temp files
chroma/
faiss/
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Local project plan
BankBot_Agentic_AI_Project_Plan.md

